<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lobster+Two'>
  <link rel="stylesheet" href="/css/application.css">

  <!-- JavaScripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/application.js"></script>

  <title>Javascript racer</title>
</head>

<body class="">

  <main role="main" class="row light">
    <div class="container flex flex-column">
      <%= yield %>
    </div>
  </main>
</body>
</html>
